.calculator {
  width: 205px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  margin: auto;
}

.display {
  width: 205px;
  background: #5b5b5b;
  text-align:right;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #fff;
  font-size: 25px;
  padding: 5px 10px;
}

.display.flashing {
  animation-name: flash;
  animation-duration: .1s;
}

@keyframes flash {
  0% {
    color: #5b5b5b; 
  }
  90% {
    color: #5b5b5b; 
  }
  100% {
    color: #fff;
  }
}

.commands {
  width: 204px;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1px;
}

.command {
  width: 50px;
  height: 45px;
  background: #ddd;
  margin: 0 1px 1px 0;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.command:nth-child(4n),
.command.is-equal{
  background: orange;
  color: #fff;
}

.command.is-2col {
  flex-grow: 2;
}

.command:active {
  background: #bbb;
}

.command:nth-child(4n):active,
.command.is-equal:active {
 background: #d37e00; 
}

#debug {
  display: none;
}